@charset "euc-kr";

/* ========== [태그 초기화] ========== */
* {margin:0; padding:0;}
html, body {width:100%; height:100%;}
body {font-size:12px; font-family:"Malgun Gothic", "맑은 고딕", sans-serif; color:#333;}

img {border:0; vertical-align:middle;}
form, fieldset {display:block; border:0;}
ol, ul {list-style: none;}
li img {vertical-align:top;}
hr {display:none;}
table { border-collapse:collapse; border-spacing:0; width:100%;}
h1, h2, h3, h4, h5, h6 {font-size:12px;}

a:link {color:#666; text-decoration:none;}
a:visited {color:#666; text-decoration:none;}
a:hover, a:focus {color:#666; text-decoration:none;}
a:active {color:#666; text-decoration:none;}

/* ========== [공통사용] ========== */
/* [서식] */
.select {height:20px; margin:0; padding:2px 0 0 0; font-size:12px; line-height:17px; font-family:Arial; color:#555; vertical-align:middle;}
.input-text {height:20px; margin:0; padding:3px 0 0 0; border:1px solid #d6d6d6; font-size:12px; vertical-align:middle; color:#555; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.input-text2 {height:16px; margin:0; padding:3px 0 0 0; border:1px solid #d6d6d6; font-size:12px; vertical-align:middle;} /* 문서형이 있을경우 */
.input-radio {width:13px; height:13px; margin:0; padding:0; vertical-align:middle;}
.input-check {width:13px; height:13px; margin:0; padding:0; vertical-align:middle;}
.input-image {margin:0; margin:0; padding:0; border:none; vertical-align:middle;}
.input-file {height:21px; margin:0; padding-top:2px; border:1px solid #b6b6b6; font-size:12px; background:#f5f4eb; vertical-align:middle;}
.textarea {margin:0; padding:0; border:1px solid #b6b6b6; font-size:12px; vertical-align:middle;}

/* [display] */
.inblock {display:inline-block;}
.none {display:none;}
.hide, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}
.hide-caption {overflow:hidden;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}

/* 웹툰 뷰어(이북) */
.view_backbg_white {background:#fff;}
.view_backbg_gray {background:#999;}
.view_backbg_black {background:#000;}
.viewer {position:fixed; left:0; top:0; width:100%; height:100%;}
.viewer #head_line {position:absolute; left:0; top:0; width:100%; z-index:9000;}
.viewer #head_explain {height:75px; padding:0 30px; border-bottom:none; background:url(../image/ebook_bg_menu.png) 0 0 repeat-x;}
.viewer #head_explain .title {overflow:hidden; position:relative; float:left; width:440px; text-align:left;}
.viewer #head_explain .title a {display:block; overflow:hidden; position:relative; padding:29px 80px 27px 0; font-weight:bold; font-size:16px; color:#ebebeb; white-space:nowrap; text-overflow:ellipsis; z-index:300;}
.viewer #head_explain .title a span {display:inline;}
.viewer #head_explain .title .title_arrow {position:absolute; right:-1px; top:32px; margin: 0 0 0 8px; padding: 0; z-index:299; transition:all 0.5s;}
.viewer #head_explain .title_active .title_arrow {transform:rotate(-180deg);}
.viewer #head_explain .button {float:right; padding-top:14px;}
.viewer #head_explain .button a {display:block; float:left; text-align:center;}
.viewer #head_explain .button a.btn_full,
.viewer #head_explain .button a.btn_original {width:41px; margin-right:46px;}
.viewer #head_explain .button a.btn_bookmark {margin-right:45px;}
.viewer #head_explain .button a.btn_landscapeView,
.viewer #head_explain .button a.btn_verticalView {margin-right:39px;}
.viewer #head_explain .book_number {display:none; position:absolute; left:15px; top:75px; width:470px; border:1px solid #555; border-top:none; box-sizing:border-box;}
.viewer #head_explain .book_number_in {overflow:auto; max-height:215px; border-top:none; background:#fff;}
.viewer #head_explain .book_number .list {display:none;}
.viewer #head_explain .book_number .list li {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; border-bottom:1px solid #e3e3e3;}
.viewer #head_explain .book_number .list li a {display:block; overflow:hidden; padding:16px 12px 11px; font-weight:bold; font-size:14px; line-height:15px; color:#666; text-align:left; white-space:nowrap; text-overflow:ellipsis;}
.viewer #head_explain .book_number .list li.active {background-color:#f8f8f8;}
.viewer #head_explain .book_number .list li.last-child {border-bottom:none;}
.viewer #head_explain .book_number .no_data {display:none; padding:16px 12px 11px; font-weight:bold; font-size:14px; line-height:15px; color:#666; text-align:center;}
.viewer #head_explain .title_list {float:left;}
.viewer #head_explain .title_list .title {width:380px;}
.viewer #head_explain .title_list .book_number {left:247px; width:418px;}
.viewer #head_explain .title_menu {position:relative; float:left;}
.viewer #head_explain .title_menu .title {width:440px;}
.viewer #head_explain .title_menu .book_number {left:-15px; width:470px;}
.viewer #head_explain .title_category {position:relative; float:left; width:200px; margin-right:17px;}
.viewer #head_explain .title_category .book_number {left:-31px; width:250px;}
.viewer #head_explain .title_category .title_line {position:absolute; right:-19px; top:50%; width:1px; height:19px; margin-top:-9px; background:#3d3d3d;}
.viewer #head_explain .title_category .title {width:100%;}
.viewer #head_explain .title_category .title a {padding-right:30px; color:#999;}
.viewer #head_explain .title_category .book_number {left:-31px; width:250px;}
.viewer #head_explain .title_category .book_number .list {}
.viewer #head_explain .title_category .title_line {position:absolute; right:-19px; top:50%; width:1px; height:19px; margin-top:-9px; background:#3d3d3d;}
.viewer #head_explain .title_folder .title {width:380px;}
.viewer #head_explain .title_folder .book_number {width:415px; left:-17px;}
.viewer #head_explain .setting_wrap {display:none; position:absolute; top:75px; right:15px; width:350px; border:1px solid #555; border-top:none; box-sizing:border-box; background:#f8f8f8; z-index:9799;}
.viewer #head_explain .setting_wrap .setting_wrap_in {padding:0 20px 20px;}
.viewer #head_explain .setting_wrap .setting_wrap_in .stt_title {clear:both; position:relative; margin:20px 0 10px;}
.viewer #head_explain .setting_wrap .setting_wrap_in .stt_title .button {position:absolute; right:0; top:0; padding-top:0;}
.viewer #head_explain .setting_wrap .setting_wrap_in .stt_list {overflow:hidden; border-top:1px solid #e3e3e3; border-left:1px solid #e3e3e3;}
.viewer #head_explain .setting_wrap .setting_wrap_in .stt_list li {float:left; width:152px; padding:13px 0 8px; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; background:#fff;}
.viewer #head_explain .setting_wrap .setting_wrap_in .stt_list li .input-radio {margin-left:25px;}
.viewer #head_explain .setting_wrap .setting_wrap_in .stt_list li label {color:#666;}
.viewer #head_explain .setting_wrap .setting_wrap_in .stt_list_none {border-top:none;}
.viewer #head_explain .setting_wrap .setting_wrap_in .bgcolor_selc {overflow:hidden; padding:7px 25px; text-align:left; border:1px solid #e3e3e3; background:#fff;}
.viewer #head_explain .setting_wrap .setting_wrap_in .bgcolor_selc li {float:left; margin-right:22px;}
.viewer #head_explain .setting_wrap .setting_wrap_in .bgcolor_selc li.btn_black {margin-right:0;}
.viewer .photo_bookmark {display:none; position:absolute; top:0; right:30px;}
.viewer .photo_bookmark img {width:auto !important; height:auto !important;}
.viewer .viewer_container {overflow:hidden; position:relative; height:100%;}
.viewer .viewer_container .content_wrap {overflow:hidden; position:relative; width:100%; height:100%; z-index:6000;}
.viewer .viewer_container .content_wrap .content_wrap_in {overflow:auto; width:100%; height:100%; font-size:0; line-height:0; text-align:center;}
.viewer .viewer_container .content_wrap .content_wrap_in img {height:100%;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide {overflow:hidden; position:relative; width:100%; height:100%; margin:0 auto;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide img {width:auto; height:100%;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_double {display:flex; justify-content:center;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_double span.slide_view {width:50%;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_double span.slide_view:nth-child(odd) {text-align:right;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_double span.slide_view:nth-child(even) {text-align:left;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_double span img,
.viewer .viewer_container .content_wrap .content_wrap_in .slide_full_double span.slide_view {display:inline-block; width:50%; height:100%;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_full_double span img {width:100%; height:auto;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_full_double span.slide_view:nth-child(odd) {text-align:right;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_full_double span.slide_view:nth-child(even) {text-align:left;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide .slide_even,
.viewer .viewer_container .content_wrap .content_wrap_in .slide .slide_odd {display:inline-block; overflow:hidden; float:none; height:100%; text-align:center;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide .slide_even img,
.viewer .viewer_container .content_wrap .content_wrap_in .slide .slide_odd img {width:200%; height:auto;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide .slide_odd img {position:relative; left:-100%;}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_hor_double {}
.viewer .viewer_container .content_wrap .content_wrap_in .slide_hor_double span {float:left; width:50% !important;}
.viewer .viewer_container .content_button {position:absolute; left:0; top:0; width:100%; height:100%; background:#fff; opacity:0; z-index:7000;}
.viewer .photo_paging {display:none; position:absolute; left:0; bottom:0; width:100%; padding:80px 0 10px; font-weight:bold; font-size:16px; font-family:Doutm; color:#f5f5f5; text-align:center; background:url(../image/ebook_bg_paging.png) 0 0 repeat-x; z-index:8000;}
.viewer .photo_paging .pagination-prev,
.viewer .photo_paging .pagination-next {position:absolute; bottom:10px;}
.viewer .photo_paging .pagination-prev {left:10px;}
.viewer .photo_paging .pagination-next {right:10px;}
.viewer .photo_paging_app {bottom:53px;}
.content_wrap_vertical {display:block !important; overflow:auto;}
.content_wrap_vertical .slide {height:auto;}
.layer_guide {display:none; z-index:9999;}
.layer_guide .btn_close {position:fixed; right:25px; top:25px;}
/* 하단 기능 버튼 */
.viewer #viewer_menu {display:block; position:absolute; left:0; bottom:0; width:100%; height:75px;  background:url(../image/ebook_bg_menu.png) 0 bottom repeat-x; z-index:9000;}
.viewer #viewer_menu .viewer_menu_in {position:relative; width:1000px; margin:0 auto;}
.viewer #viewer_menu .paging_counting {position:relative; width:627px; padding:23px 0 22px; margin:0 auto; z-index: 9799;}
.viewer #viewer_menu .paging_counting .paging_counting_in {padding-left:117px;}
.viewer #viewer_menu .paging_counting .count .input-text {}
.viewer #viewer_menu .paging_counting .ui-slider-input {position:absolute; left:-117px; top:0; width:59px; height:27px; padding:3px 12px 0 0; font-size:12px; line-height:0; font-family:"Malgun Gothic", "맑은 고딕", sans-serif; color:#17afe8; text-align:right; line-height:30px; border:none; background:url(../image/ebook_bg_state.png) no-repeat 0 0;}
.viewer #viewer_menu .paging_counting .scroll_type {margin-top:10px; padding:3px 9px 0;}
.viewer #viewer_menu .paging_counting .ui-slider {position:relative; height:13px; box-sizing:border-box;}
.viewer #viewer_menu .paging_counting .ui-slider .ui-slider-track {position:absolute; left:0; top:12px; width:100%; height:6px; background:url(../image/ebook_bg_statusBar.png) no-repeat 0 0;}
.viewer #viewer_menu .paging_counting .ui-slider .ui-slider-range {position:absolute; left:0; top:0; height:6px; border-radius:3px; background:#17afe8; box-sizing:border-box;}
.viewer #viewer_menu .paging_counting .ui-slider .ui-slider-range-max {left:auto; right:0;}
.viewer #viewer_menu .paging_counting .ui-slider .ui-slider-bg {position:absolute; left:0; top:0; height:6px; background-color:#17afe8; box-sizing:border-box;}
.viewer #viewer_menu .paging_counting .ui-slider .ui-slider-bg .first {position:absolute; left:0; top:0; width:3px; height:6px; background:url(../image/ebook_img_statusBar_left_on.gif) no-repeat 0 0; z-index:299;}
.viewer #viewer_menu .paging_counting .ui-slider .ui-slider-handle {position:absolute; left:-3px; top:-.6em; width:20px; height:20px; margin-left:-.8em; background:url(../image/ebook_img_currentStatus.png) no-repeat 0 0; z-index:300; cursor:pointer;}
.viewer #viewer_menu .paging_counting .ui-slider .ui-slider-handle-max {left:auto; right:0;}
.viewer #viewer_menu .paging_counting .input_paging {position:absolute; left:74px; top:33px; font-size:12px; color:#777777; text-align:left;}
.viewer #viewer_menu .paging_counting .swiper-scrollbar {width:98%; height:5px; border-radius:10px; background:#ccc;}
.viewer #viewer_menu .paging_counting .swiper-scrollbar-drag {position:relative; width:100%; height:100%; left:0; top:0; border-radius:10px; background:#ff00ff;}
.viewer #viewer_menu a.btn_previous,
.viewer #viewer_menu a.btn_nextTime {position:absolute; top:22px;}
.viewer #viewer_menu a.btn_previous {left:30px;}
.viewer #viewer_menu a.btn_nextTime {right:30px;}
/* 마지막 페이지 */
.viewer_last_page {display:none; position:absolute; left:0; top:0; width:100%; height:100%; background:#3e3e3e; z-index:9800;}
.viewer_last_page_in {display:none; position:absolute; left:0; top:50%; width:100%; margin-top:-60px;}
.viewer_last_page .msg {font-weight:bold; font-size:15px; line-height:18px; color:#ffffff; text-align:center;}
.viewer_last_page .button {margin-top:15px; text-align:center;}
.viewer_last_page .button a {display:inline-block; height:23px; padding:9px 20px 0; font-weight:bold; font-size:12px; color:#333; text-align:center; box-shadow:inset 0px 1px 1px 0px #fff; border:1px solid #858585; border-radius:4px; background:#dedede;}
.viewer_last_page .button a.btn_confirm,
.viewer_last_page .button a.btn_cel_confirm {color:#ffffff; box-shadow:inset 0px 1px 1px 0px #3db8e5; border:1px solid #0a89bf; background:#19a5db;}
.viewer_mouse_text {display:none; position:absolute; padding:8px 12px; font-weight:bold; font-size:12px; font-family:Gulim; color:#666666; border:1px solid #888888; background:#f7f7f7; z-index:8000;}
/* 로딩바 */
.loading_bar {display:none; position:absolute; z-index:9999;}
.loading_bar_bg {display:none; position:absolute; left:0; top:0; width:100%; height:100%; background:#000; z-index:9998;}
